.form-group {
  margin-bottom: 22px;
}

input.form-control,
textarea.form-control,
select.form-select,
.input-group-text {

  // Extra Small devices (landscape phones, 376px and up)
  @include media-breakpoint-up(xs) {}

  // Small devices (landscape phones, 576px and up)
  @include media-breakpoint-up(sm) {}

  // Medium devices (tablets, 768px and up)
  @include media-breakpoint-up(md) {}

  // Large devices (desktops, 992px and up)
  @include media-breakpoint-up(lg) {}

  // X-Large devices (large desktops, 1200px and up)
  @include media-breakpoint-up(xl) {}

  // font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  // line-height: 24px;
  color: #fff;
  background: #37055C;
  border: 2px solid #8800CC;
  border-radius: 50px;
  margin-bottom: 30px;
  padding: 22px 34px;
  padding: 18px 34px;

  &:focus,
  &:active,
  &:hover {
    color: #fff;
    background: #37055C;
    border: 2px solid #8800CC;
  }

  @include placeholder {
    color: rgba(255, 255, 255, 0.71);
  }

  // Medium devices (tablets, 768px and up)
  @include media-breakpoint-up(md) {
    &.form-control-lg {}
  }

  // Large devices (desktops, 992px and up)
  @include media-breakpoint-up(lg) {
    &.form-control-lg {}
  }
}

.form-control-wrapper {}

textarea.form-control {
  border-radius: 23px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #37055C inset !important;
  -webkit-text-fill-color: white !important;
}