 .form-auth {

   .bg-image {
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
   }

   .sec-inner,
   .form-inner {
     img.logo-img {
       width: 66.79px;
       height: 64px;
       margin-bottom: 28px;
     }

     .form-title {
       margin-bottom: 18px;
       font-style: normal;
       color: #FFFFFF;
       font-weight: 600;
       font-size: 34px;
       line-height: 40px;
       margin-bottom: 12px;

       // Extra Small devices (landscape phones, 376px and up)
       @include media-breakpoint-up(xs) {
         font-size: 38px;
         line-height: 40px;
       }

       // Small devices (landscape phones, 576px and up)
       @include media-breakpoint-up(sm) {
         font-size: 42px;
         line-height: 40px;
       }

       // Medium devices (tablets, 768px and up)
       @include media-breakpoint-up(md) {
         font-size: 44px;
         line-height: 48px;
       }

       // Large devices (desktops, 992px and up)
       @include media-breakpoint-up(lg) {
         font-size: 46px;
         line-height: 56px;
       }

       // X-Large devices (large desktops, 1200px and up)
       @include media-breakpoint-up(xl) {}
     }

     .form-text {
       font-family: $font-family-sec;
       font-style: normal;
       font-weight: 500;
       color: #FFFFFF;
       font-size: 15px;
       line-height: 28px;
       margin-bottom: 15px;

       // Extra Small devices (landscape phones, 376px and up)
       @include media-breakpoint-up(xs) {
         font-size: 16px;
         line-height: 28px;
         margin-bottom: 20px;
       }

       // Small devices (landscape phones, 576px and up)
       @include media-breakpoint-up(sm) {
         font-size: 16px;
         line-height: 28px;
         margin-bottom: 20px;
       }

       // Medium devices (tablets, 768px and up)
       @include media-breakpoint-up(md) {
         font-size: 17px;
         line-height: 28px;
         margin-bottom: 24px;
       }

       // Large devices (desktops, 992px and up)
       @include media-breakpoint-up(lg) {
         font-size: 17px;
         line-height: 30px;
         margin-bottom: 30px;
       }

       // X-Large devices (large desktops, 1200px and up)
       @include media-breakpoint-up(xl) {
         font-size: 17px;
         line-height: 32px;
         margin-bottom: 34px;
       }
     }

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: start;
     padding: 0 15%;
     padding: 0 120px;

     .sm-title {
       font-style: normal;
       font-weight: 600;
       font-size: 16px;
       line-height: 24px;
       letter-spacing: 0.25em;
       text-transform: uppercase;
       color: #DE01FE;
       margin-bottom: 4px;
     }

     .title {
       margin-bottom: 18px;
       font-style: normal;
       color: #FFFFFF;
       font-weight: 600;
       font-size: 34px;
       line-height: 40px;
       margin-bottom: 12px;

       // Extra Small devices (landscape phones, 376px and up)
       @include media-breakpoint-up(xs) {
         font-size: 38px;
         line-height: 40px;
       }

       // Small devices (landscape phones, 576px and up)
       @include media-breakpoint-up(sm) {
         font-size: 42px;
         line-height: 40px;
       }

       // Medium devices (tablets, 768px and up)
       @include media-breakpoint-up(md) {
         font-size: 44px;
         line-height: 48px;
       }

       // Large devices (desktops, 992px and up)
       @include media-breakpoint-up(lg) {
         font-size: 46px;
         line-height: 56px;
       }

       // X-Large devices (large desktops, 1200px and up)
       @include media-breakpoint-up(xl) {}
     }

     .sec-text {
       font-family: $font-family-sec;
       margin-bottom: 34px;
       color: #FFFFFF;
       font-style: normal;
       font-weight: 500;
       font-size: 20px;
       line-height: 32px;

       // Extra Small devices (landscape phones, 376px and up)
       @include media-breakpoint-up(xs) {
         font-size: 20px;
         line-height: 32px;
       }

       // Small devices (landscape phones, 576px and up)
       @include media-breakpoint-up(sm) {
         font-size: 20px;
         line-height: 32px;
       }

       // Medium devices (tablets, 768px and up)
       @include media-breakpoint-up(md) {
         font-size: 20px;
         line-height: 32px;
       }

       // Large devices (desktops, 992px and up)
       @include media-breakpoint-up(lg) {
         font-size: 20px;
         line-height: 32px;
       }

       // X-Large devices (large desktops, 1200px and up)
       @include media-breakpoint-up(xl) {
         font-size: 20px;
         line-height: 32px;
       }
     }

     a.btn {

       svg.icon {

         path {}
       }

       span {}
     }

     .form-group {

       .icon {

         svg {

           path {}
         }
       }


       .form-control {
         //  background: none !important;
         //  background: #35055A;
         padding: 5px;
         outline: none;
         border: none;
         border-radius: 0px;
         border-bottom: 0.7px solid #808080;
       }

       label {
         font-style: normal;
         font-weight: 500;
         font-size: 16px;
         line-height: 19px;
         text-transform: capitalize;
         color: #999999;
       }
     }
   }
 }