.card.comm-event {
  border-radius: 4px;

  .card-img {
    min-height: 250px;

    // Extra Small devices (landscape phones, 376px and up)
    @include media-breakpoint-up(xs) {
      min-height: 300px;
    }

    // Small devices (landscape phones, 576px and up)
    @include media-breakpoint-up(sm) {
      min-height: 300px;
    }

    // Medium devices (tablets, 768px and up)
    @include media-breakpoint-up(md) {}

    // Large devices (desktops, 992px and up)
    @include media-breakpoint-up(lg) {
      min-height: 391px;
    }

    // X-Large devices (large desktops, 1200px and up)
    @include media-breakpoint-up(xl) {}
  }

  .card-img-overlay {
    background: linear-gradient(0deg, #131313 0%, rgba(16, 16, 16, 0.848958) 23.56%, rgba(0, 0, 0, 0) 100%);

    .card-title {
      margin-bottom: 16px;
    }

    .card-text {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }

    .date {
      font-size: 85%;

      // Extra Small devices (landscape phones, 376px and up)
      @include media-breakpoint-up(xs) {
        font-size: 88%;
      }

      // Small devices (landscape phones, 576px and up)
      @include media-breakpoint-up(sm) {
        font-size: 90%;
      }

      // Medium devices (tablets, 768px and up)
      @include media-breakpoint-up(md) {
        font-size: 100%;
      }

      // Large devices (desktops, 992px and up)
      @include media-breakpoint-up(lg) {}

      // X-Large devices (large desktops, 1200px and up)
      @include media-breakpoint-up(xl) {}
    }

    .btn {}
  }

  .card-text,
  .btn {
    margin-bottom: 16px;
  }

  &:hover {
    filter: drop-shadow(0px 0px 16px rgba(158, 158, 158, 0.25));
  }
}