// contact-section
.contact-section {

  .form-footer {
    margin-top: 42px;

    p {
      // font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.71);
      margin-bottom: 3px;
    }

    img {
      height: 26px;
    }
  }
}