<!DOCTYPE html>
<html lang="en">

  <head>
    @@include('./_head.html', {
    "webRoot": "./..",
    "title": "Naseeha - Page"
    })
  </head>


  <body>
    <header class="main-header w-100">
      @@include('./_nav.html', {
      "webRoot": "./.."
      })

      @@include('./_navigation.html', {
      "webRoot": "./..",
      "page": "overview",
      "page_group": "components"
      })
    </header>

    <div class="d-flex align-items-stretch flex-wrap">

      <main class="section">

        <div class="py-4">
          <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
              <h1 class="h4">Notifications</h1>
              <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-12 ">
            <div class="card border-0">
              <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
                <h2 class="h4 mb-0">Sweet alerts</h2>
              </div>
              <div class="card-body">
                <button class="btn btn-gray-800" id="basicAlert">Basic alert</button>
                <button class="btn btn-info" id="infoAlert">Info alert</button>
                <button class="btn btn-success" id="successAlert">Success alert</button>
                <button class="btn btn-danger" id="dangerAlert">Danger alert</button>
                <button class="btn btn-warning" id="warningAlert">Warning alert</button>
                <button class="btn btn-gray-200" id="questionAlert">Question</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 ">
            <div class="card border-0">
              <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
                <h2 class="h4 mb-0">Notyf</h2>
              </div>
              <div class="card-body">
                <button class="btn btn-info" id="notifyTopLeft">Top left info</button>
                <button class="btn btn-danger" id="notifyTopRight">Top right danger</button>
                <button class="btn btn-warning" id="notifyBottomLeft">Bottom left warning</button>
                <button class="btn btn-gray-800" id="notifyBottomRight">Primary bottom right</button>
              </div>
            </div>
          </div>
        </div>

        @@include('./_footer.html', {
        "webRoot": "./..",
        "classes": "text-black"
        })
      </main>
    </div>

    @@include('./_scripts.html', {
    "webRoot": "./.."
    })

  </body>

</html>