// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  background: #1E1E1E;
}

body {
  color: #fff;
  background-color: $body-bg;
  background: repeating-radial-gradient(82.55% 82.55% at 66.41% 86.9%, darken($body-bg, 5%) 0%, lighten($body-bg, 8%) 56.21%, darken($body-bg, 5%) 100%);
  // background-image: repeating-radial-gradient(82.55% 82.55% at 66.41% 86.9%, darken(#0E052E, 15%) 0%, darken(#0E052E, 5%) 56.21%, darken(#0E052E, 5%) 100%); 
  // filter: blur(784px);
}

:root {
  --bs-body-color: #fff;
}

html,
body,
p {
  color: #fff;
  // font-family: 'Montserrat', sans-serif;
  // font-size: 16px;
  // line-height: 24px;
  // letter-spacing: -0.01em;
  --bs-body-font-size: 12.5px;
  font-size: 12.5px;

  // Extra Small devices (landscape phones, 376px and up)
  @include media-breakpoint-up(xs) {
    --bs-body-font-size: 13px;
    font-size: 13px;
  }

  // Small devices (landscape phones, 576px and up)
  @include media-breakpoint-up(sm) {
    --bs-body-font-size: 14px;
    font-size: 14px;
  }

  // Medium devices (tablets, 768px and up)
  @include media-breakpoint-up(md) {
    --bs-body-font-size: 15px;
    font-size: 15px;
  }

  // Large devices (desktops, 992px and up)
  @include media-breakpoint-up(lg) {
    --bs-body-font-size: 16px;
    font-size: 16px;
  }

  // X-Large devices (large desktops, 1200px and up)
  @include media-breakpoint-up(xl) {}
}

iframe {
  border: 0;
}

figcaption,
figure,
main {
  display: block;
  margin: 0;
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
}

strong {
  font-weight: $font-weight-bold;
}

button:focus {
  outline: 0;
}

label {
  font-weight: $font-weight-bold;
  margin-bottom: .5rem;
}