/*
* = Buttons
*/
$border-btn-width: 2px;

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}


.btn {
  border-width: 0;
  // box-shadow: 0px 0px 0px $border-btn-width $primary;
  font-style: normal;
  font-weight: 500;
  border-radius: 27px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 30px;
  background-size: 300% 100%;

  &-lg {
    font-size: 20px;
    line-height: 28px;
    padding: 15px 30px;
  }

  // Extra Small devices (landscape phones, 376px and up)
  @include media-breakpoint-up(xs) {
    border-radius: 27px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 30px;
  }

  // Small devices (landscape phones, 576px and up)
  @include media-breakpoint-up(sm) {
    border-radius: 27px;
    font-size: 17px;
    line-height: 22px;
    padding: 12px 30px;
  }

  // Medium devices (tablets, 768px and up)
  @include media-breakpoint-up(md) {
    border-radius: 27px;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 30px;
  }

  // Large devices (desktops, 992px and up)
  @include media-breakpoint-up(lg) {
    border-radius: 28px;
    font-size: 19px;
    line-height: 26px;
    padding: 14px 30px;
  }

  // X-Large devices (large desktops, 1200px and up)
  @include media-breakpoint-up(xl) {
    border-radius: 30px;
    font-size: 20px;
    line-height: 28px;
    padding: 15px 30px;
  }

  .icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;

    // Extra Small devices (landscape phones, 376px and up)
    @include media-breakpoint-up(xs) {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    // Small devices (landscape phones, 576px and up)
    @include media-breakpoint-up(sm) {
      width: 22px;
      height: 22px;
      margin-right: 10px;
    }

    // Medium devices (tablets, 768px and up)
    @include media-breakpoint-up(md) {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }

    // Large devices (desktops, 992px and up)
    @include media-breakpoint-up(lg) {
      width: 26px;
      height: 26px;
      margin-right: 14px;
    }

    // X-Large devices (large desktops, 1200px and up)
    @include media-breakpoint-up(xl) {
      width: 28px;
      height: 28px;
      margin-right: 16px;
    }
  }

  &-primary {
    transition: all .4s ease-in-out;
    color: #F8FAFC;
    background: linear-gradient(293.49deg, $primary 3.14%, $primary-hover 49.41%, $primary-active 85.46%);
    background-size: 300% 100%;

    &:hover,
    &:focus,
    &:active {
      background-position: 100% 0;
      transition: all .4s ease-in-out;
      color: #F8FAFC;
    }
  }

  &-main {
    // border: transparent;
    color: #fff;
    box-shadow: 0px 0px 0px $border-btn-width $primary;
    background-color: $primary;
    transition: all 0.3s linear;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      box-shadow: 0px 0px 0px $border-btn-width $primary-hover;
      background-color: $primary;

      &::before {
        color: #fff;
        background-color: $primary-hover;
        // background-color: blue;
        animation: move_bg 1s;
        animation-direction: alternate;
        transform: translateX(0);
        transition-delay: 0.05s;
      }
    }
  }

  &-outline-primary {
    color: #fff;
    border-width: 1;
    border: 2px solid $primary;
  }

  &:hover,
  &:active,
  &:focus {}
}

// Fix for darken background color
@each $color,
$value in $theme-colors {
  .btn-#{$color} {
    &:hover {
      background-color: darken($value, 5%);
      // border-color: darken($value, 5%);
      // box-shadow: 0px 0px 0px $border-btn-width $primary;
    }
  }
}

@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}