<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Primary Meta Tags -->
<title>@@title</title>
<meta name="title" content="@@title" />
<meta name="author" content="Ayoub Khan (ayoubkhan558@hotmail.com)" />
<meta name="description" content="">
<meta name="keywords" content="" />
<!-- <link rel="canonical" href="" /> -->

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:title" content="@@title" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="" />
<meta property="twitter:title" content="@@title" />
<meta property="twitter:description" content="" />
<meta property="twitter:image" content="" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="@@webRoot/assets/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="@@webRoot/assets/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="@@webRoot/assets/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="@@webRoot/assets/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="@@webRoot/assets/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="@@webRoot/assets/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="@@webRoot/assets/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="@@webRoot/assets/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="@@webRoot/assets/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="@@webRoot/assets/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@webRoot/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="@@webRoot/assets/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@webRoot/assets/img/favicon/favicon-16x16.png">
<meta name="msapplication-TileImage" content="@@webRoot/assets/img/favicon/ms-icon-144x144.png">
<meta name="msapplication-TileColor" content="#364CA0">
<link rel="manifest" href="@@webRoot/assets/img/favicon/site.webmanifest">
<meta name="theme-color" content="#364CA0">
<meta name="apple-mobile-web-app-title" content="Wiatiyi">
<meta name="application-name" content="Wiatiyi">
<link type="text/css" href="@@webRoot/assets/css/swiper-bundle.min.css" rel="stylesheet" />
<!-- <link type="text/css" href="@@webRoot/assets/css/plyr.css" rel="stylesheet" /> -->
<!-- Waitiyi  CSS -->
<link type="text/css" href="@@webRoot/css/volt.css" rel="stylesheet" />

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
<!-- @@if (environment === 'production') {
  
} -->