<nav class="d-none navbar navbar-expand-lg navbar-dark bg-dark fixed-top w-100">
  <div class="container-fluid section-x-margins">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img alt="Feedify" src="@@webRoot/assets/img/logo.png" class="logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item @@if (context.page === 'overview') { active }">
          <a class="nav-link" href="@@webRoot/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@if (context.page === 'settings') { active }"
            href="@@webRoot/pages/settings.html">settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@if (context.page === 'settings') { active }"
            href="@@webRoot/pages/settings.html">settings</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle @@if (context.page_group !== 'page_examples') {  }" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="mb-0 font-small fw-bold">Page</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="@@webRoot/pages/examples/sign-in.html">
                <span class="sidebar-text">Sign In</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="@@webRoot/pages/examples/sign-up.html">
                <span class="sidebar-text">Sign Up</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="@@webRoot/pages/examples/forgot-password.html">
                <span class="sidebar-text">Forgot password</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="@@webRoot/pages/examples/reset-password.html">
                <span class="sidebar-text">Reset password</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="@@webRoot/pages/examples/lock.html">
                <span class="sidebar-text">Lock</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="@@webRoot/pages/examples/404.html">
                <span class="sidebar-text">404 Not Found</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="@@webRoot/pages/examples/500.html">
                <span class="sidebar-text">500 Not Found</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle @@if (context.page_group !== 'components') {  }" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="mb-0 font-small fw-bold">Support</span>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="dropdown-item @@if (context.page === 'buttons') { active }"
                href="@@webRoot/pages/components/buttons.html">
                <span class="sidebar-text">Buttons</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item @@if (context.page === 'forms') { active }"
                href="@@webRoot/pages/components/forms.html">
                <span class="sidebar-text">Forms</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item @@if (context.page === 'modals') { active }"
                href="@@webRoot/pages/components/modals.html">
                <span class="sidebar-text">Modals</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item @@if (context.page === 'typography') { active }"
                href="@@webRoot/pages/components/typography.html">
                <span class="sidebar-text">Typography</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>