<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap"
  rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&&display=swap"
  rel="stylesheet">

<!-- <script src="@@webRoot/assets/js/plyr.js"></script> -->
<!-- Core -->
<script src="@@webRoot/assets/js/bootstrap.bundle.min.js"></script>

<script src="@@webRoot/assets/js/get-set-form-values.js"></script>
<script src="@@webRoot/assets/js/hc-sticky.js"></script>
<script src="@@webRoot/assets/js/input_mask.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="@@webRoot/assets/js/enchanter.js"></script>
<!-- Naseeha  JS -->
<script src="@@webRoot/assets/js/feedify.js"></script>
<script src="@@webRoot/assets/js/swiper-bundle.min.js"></script>

<!-- <script>
  const header = document.getElementById('main_nav');

  addClassHeader = () => {
    header.classList.add("nav-is-sticky");
  }

  removeClassHeader = () => {
    header.classList.remove("nav-is-sticky");
  }

  window.addEventListener('scroll', function () {
    let getScrollposition = window.scrollY;
    if (getScrollposition > 400) {
      addClassHeader();
    } else {
      removeClassHeader();
    }
  });

  (function () {
    var Sticky = new hcSticky('#course_info', {
      top: 117,
      innerTop: 0,
      stickTo: '.course_info_div',
      innerSticker: '#course_info',
      stickyClass: "sticky",
      wrapperClassName: 'wrapper-sticky',
      stickTo: null,
      responsive: null,
      followScroll: true,
      mobileFirst: true,
      resizeDebounce: 100,
      queries: {
        680: {
          disable: true
        }
      }
    });
  })();
</script> -->