<div class="card comm-event mb-3">
  <img src="/assets/img/community/@@img" class="card-img" alt="..." />
  <div class="card-img-overlay d-flex text-white mt-auto pb-0">
    <div class="row d-flex justify-content-between align-items-end">
      <div class="col-md-24">
        <div class="row align-items-center">
          <div class="col-md-24">
            <h5 class="card-title mt-5 mt-md-0">@@heading</h5>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-16">
            <p class="card-text">
              @@text
            </p>
          </div>
          <div class="col-md-8">
            <a href="/pages/communities.html" class="btn btn-lg btn-main w-100">
              <span class="btn-text">View Details</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>