<section class="section contact-section pt-normal pb-normal">
  <div class="container-fluid section-x-margins">
    <div class="section-header text-center">
      <h5 class="title-sub mb-4">Let’s hear from you</h5>
      <h3 class="title">Get in touch with us</h3>
      <!-- <p class="text">Lorem ipsum, dolor sit amet consectetur adipisic</p> -->
    </div>
    <form class="contact-form mx-5">
      <div class="row mb-0 gy-0">
        <div class="col-md-12">
          <div class="form-group">
            <!-- <label for="name" class="form-label">Name</label> -->
            <input type="text" name="name" class="form-control" placeholder="Name" required />
          </div><!-- /.form-group END -->
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <!-- <label for="email" class="form-label">SurName</label> -->
            <input type="text" name="email" class="form-control" placeholder="SurName" required />
          </div><!-- /.form-group END -->
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <!-- <label for="email" class="form-label">Your Email</label> -->
            <input type="text" name="email" class="form-control" placeholder="Email" required />
          </div><!-- /.form-group END -->
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <!-- <label for="phone_number" class="form-label">Phone Number</label> -->
            <input type="text" name="phone_number" class="form-control" placeholder="Phone Number" required />
          </div><!-- /.form-group END -->
        </div>
      </div><!-- /.row END -->
      <div class="row">
        <div class="mb-3">
          <!-- <label for="message" class="form-label">Message</label> -->
          <textarea name="message" cols="20" rows="6" class="form-control" placeholder="Message"></textarea>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-lg btn-primary" type="submit">
          Send Message
        </button>
      </div>
    </form>
  </div>
</section>